.header {
    background-color: rgb(172, 125, 169) ;
}

h1 {
    padding-top: 20px;
    color: rgb(37, 42, 51);
    text-align: center;
    font-size: 50px;
    font-family: 'Farro', sans-serif;
}

h2 {
    text-align: center;
    color: rgb(37, 42, 51);
    
    padding-bottom: 20px;
    font-family: 'Farro', sans-serif;
    margin-bottom: 0 !important; 
}